.snowy-container{
    position:fixed;
    width:100vh;
    height: 100vh;
    overflow: hidden;
    margin-top: 3.5rem;
    pointer-events: none;
    z-index: 1;
}

.cloudsnowy{
    height: 60px;
    width: 200px;
    background: #fff;
    margin-top:3.5rem;
    position: fixed;
    left: 600px;
    border-radius: 30px;
    opacity: 0.8;
}

.cloudsnowy::after,
.cloudsnowy::before
{
    content: '';
    background: #000;
    
}

.cloudsnowy::after{
    width: 100px;
    height: 100px;
    top:10px;
}